#map{
    height: 500px;
    width: 940px;
    margin-left: 0px;
    margin-top: -20px;
    margin-bottom: 20px
}

#app-title{
    text-align: center;
    font-family: serif;
    color: white;
    font-size: 70px;
    padding-top: 0px;
    margin-top: -60px;
}


body, html{
    height: 100%;
    background-color: gray;
    
}

#summary{
    font-family: sans-serif;
    text-align: center;
    padding-top: -20px;
    color: white;
    margin-bottom: -10px;

}

#col2{
    margin-top: -20px;
    padding-right: 35px;
    padding-left: 21px;
    background-color: crimson;
    margin-bottom: 20px;
    margin-right: 13px;
    
}

.btn-1{
    background-color: crimson;
    border: 0px;
}

.jumbotron{
    background-color: crimson;
}